<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- Materialize dependency -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css" media="screen,projection" />


  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="dashboard">

  <div>
    <h4>DASHBOARD</h4>
  </div>

  <!-- Navigation tab -->
  <ul id="tab-button-group" class="tabs">
    <li class="tab col">
      <a class="active" href="#tab-pens">
        <div class="valign-wrapper">
          <i class="material-icons">developer_board</i>
          <span>Pens</span>
        </div>
      </a>
    </li>
    <li class="tab col">
      <a href="#tab-project">
        <div class="valign-wrapper">
          <i class="material-icons">developer_board</i>
          <span>Projects</span>
        </div>
      </a>
    </li>
    <li class="tab col">
      <a href="#tab-collections">
        <div class="valign-wrapper">
          <i class="material-icons">developer_board</i>
          <span>Collections</span>
        </div>
      </a>
    </li>
    <li class="tab col">
      <a href="#tab-deleted">
        <div class="valign-wrapper">
          <i class="material-icons">developer_board</i>
          <span>Deleted</span>
        </div>
      </a>
    </li>
  </ul>


  <div id="tab-pens" class="col s12">

    <div class="row dashboard-secondary">

      <!-- Search Primary -->
      <div class="col s4 valign-wrapper">
        <div class="col s2">
          <span>Search</span>
        </div>
        <div class="input-field col s6">
          <input placeholder="Search for..." id="search-pens" type="text">
        </div>
        <div class="input-field col s4">
          <button class="btn waves-effect waves-light" type="search-submit" name="action">Search</button>
        </div>
      </div>

      <!-- View Dropdown -->
      <div class="col s4 valign-wrapper">
        <div class="col s2">
          <span>View</span>
        </div>
        <div class="input-field col s10">
          <select class="browser-default">
            <option value="1" selected>All</option>
            <option value="2">All my Pens (no forks)</option>
            <option value="3">Public</option>
            <option value="4">Private</option>
            <option value="5">Template</option>
            <option value="6f">Fork</option>
          </select>
        </div>
      </div>

      <!-- Tag -->
      <div class="col s4 valign-wrapper">
        <div class="col s2">
          <span>Tag</span>
        </div>
        <div class="input-field col s10">
          <input placeholder="Keyword..." id="search-keyword" type="text">
        </div>
      </div>

    </div>

    <div class="row dashboard-secondary">

      <!-- Grid/List Toggle -->
      <div class="col s2 valign-wrapper ">
        <div class="row input-field dashboard-tertiary">



          <div class="input-field col s2 ">
            <span>Grid</span>
          </div>
          <div class="input-field col s2">
            <button>
              <i class="material-icons">apps</i>
            </button>
          </div>
          <div class="input-field col s2">
            <button>
              <i class="material-icons">dehaze</i>
            </button>
          </div>
          <div class="input-field col s2">
            <span>List</span>
          </div>

        </div>
      </div>

      <!-- Sort Direction Toggle -->
      <div class="col s2 valign-wrapper">
        <div class="input-field row">
          <div class="input-field  col s6">
            <span>Sort Direction</span>
          </div>
          <div class="input-field col s2">
            <button>
              <i class="material-icons">keyboard_arrow_up</i>
            </button>
          </div>
          <div class="input-field col s2">
            <button>
              <i class="material-icons">keyboard_arrow_down</i>
            </button>
          </div>

        </div>
      </div>

      <!-- Sort By Dropdown -->
      <div class="col s6 valign-wrapper">
        <div class="col s2">
          <span>Sort By</span>
        </div>
        <div class="input-field col s10">
          <select class="browser-default">
            <option value="1" selected>Date Created</option>
            <option value="2">Date Updated</option>
            <option value="3">Popularity</option>
          </select>
        </div>

      </div>

    </div>

    <!-- Generated content here: -->


    <div class="row">

      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <div class="placeholder"></div>
          </div>
        </div>
        <div class="card-content">
          <div class="row card-info">
            <span>{Pen Title}</span>
            <span class="card-options">
              <a href="#">
                <i class="material-icons">more_horiz</i>
              </a>
            </span>
          </div>
          <div class="row card-action">
            <button><i class="material-icons">favorite_border</i><span>{1}</span></button>
            <button><i class="material-icons">comment</i><span>{1}</span></button>
            <button><i class="material-icons">visibility</i><span>{1}</span></button>
          </div>

        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <div class="placeholder"></div>
          </div>
        </div>
        <div class="card-content">
          <div class="row card-info">
            <span>{Pen Title}</span>
            <span class="card-options">
              <a href="#">
                <i class="material-icons">more_horiz</i>
              </a>
            </span>
          </div>
          <div class="row card-action">
            <button><i class="material-icons">favorite_border</i><span>{1}</span></button>
            <button><i class="material-icons">comment</i><span>{1}</span></button>
            <button><i class="material-icons">visibility</i><span>{1}</span></button>
          </div>

        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <div class="placeholder"></div>
          </div>
        </div>
        <div class="card-content">
          <div class="row card-info">
            <span>{Pen Title}</span>
            <span class="card-options">
              <a href="#">
                <i class="material-icons">more_horiz</i>
              </a>
            </span>
          </div>
          <div class="row card-action">
            <button><i class="material-icons">favorite_border</i><span>{1}</span></button>
            <button><i class="material-icons">comment</i><span>{1}</span></button>
            <button><i class="material-icons">visibility</i><span>{1}</span></button>
          </div>

        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <div class="placeholder"></div>
          </div>
        </div>
        <div class="card-content">
          <div class="row card-info">
            <span>{Pen Title}</span>
            <span class="card-options">
              <a href="#">
                <i class="material-icons">more_horiz</i>
              </a>
            </span>
          </div>
          <div class="row card-action">
            <button><i class="material-icons">favorite_border</i><span>{1}</span></button>
            <button><i class="material-icons">comment</i><span>{1}</span></button>
            <button><i class="material-icons">visibility</i><span>{1}</span></button>
          </div>

        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <div class="placeholder"></div>
          </div>
        </div>
        <div class="card-content">
          <div class="row card-info">
            <span>{Pen Title}</span>
            <span class="card-options">
              <a href="#">
                <i class="material-icons">more_horiz</i>
              </a>
            </span>
          </div>
          <div class="row card-action">
            <button><i class="material-icons">favorite_border</i><span>{1}</span></button>
            <button><i class="material-icons">comment</i><span>{1}</span></button>
            <button><i class="material-icons">visibility</i><span>{1}</span></button>
          </div>

        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <div class="placeholder"></div>
          </div>
        </div>
        <div class="card-content">
          <div class="row card-info">
            <span>{Pen Title}</span>
            <span class="card-options">
              <a href="#">
                <i class="material-icons">more_horiz</i>
              </a>
            </span>
          </div>
          <div class="row card-action">
            <button><i class="material-icons">favorite_border</i><span>{1}</span></button>
            <button><i class="material-icons">comment</i><span>{1}</span></button>
            <button><i class="material-icons">visibility</i><span>{1}</span></button>
          </div>

        </div>
      </div>




    </div>
  </div>
  </div>




  </div>

  </div>

  <div id="tab-project" class="col s12">
    <h2>WIP</h2>
  </div>

  <div id="tab-collections" class="col s12">
    <h2>WIP</h2>
  </div>

  <div id="tab-deleted" class="col s12">
    <h2>WIP</h2>
  </div>
  </div>
  </div>



  <script type="text/javascript" src="/javascripts/jquery-3.4.1.js"></script>
  <script type="text/javascript" src="/javascripts/materialize.js"></script>

  <!-- TODO: Create a javascript file  -->
  <script>

    $(document).ready(function () {
      $('.tabs').tabs();
      $('select').formSelect();


    });

  </script>

</body>


</html>