<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    

    <!-- Materialize dependency -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css" media="screen,projection" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/sidebar.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />

</head>

<body>

    <header>

    </header>

    <main>
      <div id="login-form-header" class="container">
        <img id="login-logo" src="/images/codepen-logo.svg"/>
        <h1>Log in!</h1>
      </div>

      <div class="container">
        <div class="row">
            <form id="login-form" class="col s6">
                <div class="row">
                    <div class="input-field col s12">
                        <p class="input-label-custom">USERNAME OR EMAIL</p>
                        <input placeholder="" minlength="1" name="usernameOrEmail" id="usernameOrEmail" maxlength="20" type="text" required="true" class="validate"/>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                      <p class="input-label-custom">PASSWORD</p>
                      <input placeholder="" minlength="12" name="password" id="password" maxlength="60" type="password" required="true" class="validate"/>
                    </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <button id="login-button" class="btn waves-effect waves-light" type="submit" name="action">Log In
                    </button>
                  </div>
                </div>
                <div id="forgot-password-link" class="row center-align">
                  <p><a href="#">Forgot Password?</a></p>
                </div>
            </form>
        </div>

        <div id="sign-up-notice" class="valign-wrapper">
          <p class="center-align">Need an account? <a href="/signup">Sign up now!</a></p>
      </div>
    </div>

    </main>


    <footer>
      <script type="text/javascript" src="/javascripts/materialize.js"></script>
      <script type="text/javascript" src="/javascripts/jquery-3.4.1.js"></script>
      <script type="text/javascript" src="/javascripts/login.js"></script>
    </footer>
    

  
</body>


</html>