<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>


    <!-- Materialize dependency -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css" media="screen,projection" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/pen.css' />

</head>

<body>

    <header>

        <div id="pen-view-header">
            <img id="pen-logo" src="/images/codepen-logo.svg" />
        </div>

    </header>

    <main>

        <div id="editor-group" class="row">
            <div id="editor-1" class="col resizable-editor">
                <textarea>testing!</textarea>
            </div>
            <div id="editor-resize-1" class="col vertical-resize-control">
            </div>
            <div id="editor-2" class="col resizable-editor">
                <textarea>testing!</textarea>
            </div>
            <div id="editor-resize-2" class="col vertical-resize-control">
            </div>
            <div id="editor-3" class="col resizable-editor">
                <textarea>testing!</textarea>
            </div>
        </div>

        <div id="results-resize" class="horizontal-resize-control">
        </div>

        <div id="result-group" class="row">           
            <div id="results-window">
            <textarea> im weathering with YOU
            </textarea>
            </div>
        </div>
        



    </main>


    <footer>
        <script type="text/javascript" src="/javascripts/jquery-3.4.1.js"></script>
        <script type="text/javascript" src="/javascripts/materialize.js"></script>
        <script type="text/javascript" src="/javascripts/pen.js"></script>
        
    </footer>



</body>


</html>