<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>


    <!-- Materialize dependency -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css" media="screen,projection" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/pen.css' />

</head>

<body>

    <header>

        <div id="pen-view-header">
            <img id="pen-logo" src="/images/codepen-logo.svg" />
        </div>

    </header>

    <main>

        <div id="editor-group" class="row">
            <div id="editor-1" contenteditable="true" class="col resizable-editor">
            </div>
            <div id="editor-resize-1" class="col vertical-resize-control">
            </div>
            <div id="editor-2" contenteditable="true" class="col resizable-editor">

            </div>
            <div id="editor-resize-2" class="col vertical-resize-control">
            </div>
            <div id="editor-3" contenteditable="true" class="col resizable-editor">

            </div>
        </div>

        <div id="results-resize" class="horizontal-resize-control">
        </div>

        <div id="result-group" class="row">
            <iframe id="results-window"></iframe>

        </div>
        </div>




    </main>


    <footer>
        <script type="text/javascript" src="/javascripts/jquery-3.4.1.js"></script>
        <script type="text/javascript" src="/javascripts/materialize.js"></script>
        <script type="text/javascript" src="/javascripts/pen.js"></script>

        <!-- TODO: fix this -->
        <script src="./javascripts/monaco-editor/min/vs/loader.js"></script>
        <script>
            require.config({ paths: { 'vs': '../javascripts/monaco-editor/min/vs' } });


            var editor1, editor2, editor3;

           
            function returnEditorHTMLContent() {
                return editor1.getValue();
            }

            function returnEditorCSSContent() {
                return editor2.getValue();
            }

            function returnEditorJSContent() {
                return editor3.getValue();
            }

            function returnArrangedContent(){
                return `<html><head><style>${returnEditorCSSContent()} 
                    </style><body>${returnEditorHTMLContent()} 
                        <script>${returnEditorJSContent()}<\/script></body></html>`;

                return ret;

            }

            

            function refreshContent() {
                renderInIframe(returnArrangedContent());
            }

            function renderInIframe(content) {
                var ifrm = document.getElementById('results-window');
                ifrm = ifrm.contentWindow || ifrm.contentDocument.document || ifrm.contentDocument;
                ifrm.document.open();
                ifrm.document.write(content);
                ifrm.document.close();
            }

           
            function monaco_refreshWindow() {
                require(['vs/editor/editor.main'], function () {


                    monaco.editor.setTheme('vs-dark');

                    editor1 = monaco.editor.create(document.getElementById('editor-1'), {
                        value: [
                            '<html><h1>peace in my bodyyy</html>'
                        ].join('\n'),
                        language: 'html'
                    });

                    editor2 = monaco.editor.create(document.getElementById('editor-2'), {
                        value: [
                            'body {',
                            '\t margin-left: 0;',
                            '}'
                        ].join('\n'),
                        language: 'css'
                    });

                    editor3 = monaco.editor.create(document.getElementById('editor-3'), {
                        value: [
                            'function x() {',
                            '\tconsole.log("Hello world!");',
                            '}'
                        ].join('\n'),
                        language: 'javascript'
                    });


                    editor1.onDidChangeModelContent(e => {
                        refreshContent()
                    })

                    editor2.onDidChangeModelContent(e => {
                        refreshContent()
                    })

                    editor3.onDidChangeModelContent(e => {
                        refreshContent()
                    })

                });
            }


            monaco_refreshWindow();
        </script>

    </footer>



</body>


</html>