<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>


    <!-- Materialize dependency -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css" media="screen,projection" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/pen.css' />

</head>

<body>

    <header>

        <div id="pen-view-header" class="valign-wrapper">
            <img id="pen-logo" src="/images/codepen-logo.svg" />
            <div id="pen-info">
                <div id="pen-name-editable" class="valign-wrapper">
                    <span>thitle <a href="#"><i class="material-icons">edit</i></a></span>
                </div>
                <div id="pen-author-name">
                    <span>A PEN BY <a href="#">doki</a></span>
                </div>
            </div>
            <div id="pen-view-options" class="right-align">
                <button id="" class="btn"><i class="material-icons">favorite</i>
                </button>
                <button id="" class="btn"><i class="material-icons">cloud</i>Save
                </button>
                <button id="" class="btn"><i class="material-icons">settings</i>Settings
                </button>
                <button id="" class="btn dropdown-trigger" data-target='view-dropdown'><i
                        class="material-icons">visibility</i>Change View
                </button>

                <!-- Dropdown Structure -->
                <ul id='view-dropdown' class='dropdown-content collection with-header'>
                    <li class="collection-header">
                        <h6>Open this Pen in:</h6>
                    </li>
                    <a href="#!" class="collection-item active"><span class="left-align">Editor View</span>
                        <span class="secondary-content valign-wrapper">
                                <span class="collection-link">/pen/</span>
                                <i class="material-icons">help_outline</i>
                            </span>
                    </a>
                    <a href="#!" class="collection-item"><span class="left-align">Details View</span>
                        <span class="secondary-content valign-wrapper">
                                <span class="collection-link">/details/</span>
                                <i class="material-icons">help_outline</i>
                            </span>
                    </a>
                    <a href="#!" class="collection-item"><span class="left-align">Full Page View</span>
                        <span class="secondary-content valign-wrapper">
                                <span class="collection-link">/full/</span>
                                <i class="material-icons">help_outline</i>
                            </span>
                    </a>
                    <a href="#!" class="collection-item"><span class="left-align">Debug Mode</span>
                        <span class="secondary-content valign-wrapper">
                                <span class="collection-link">/debug/</span>
                                <i class="material-icons">help_outline</i>
                            </span>
                    </a>

                    <li class="divider" tabindex="-1"></li>

                    <li class="collection-header">
                        <h6>Direct Code Links:</h6>
                    </li>

                    <div id="code-link-collection" class="row">
                        <a href="#!" class="code-link">.html</a>
                        <a href="#!" class="code-link">.css</a>
                        <a href="#!" class="code-link">.js</a>
                    </div>

                    <li class="divider" tabindex="-1"></li>

                    <li class="collection-header">
                        <h6>Editor Layout:</h6>
                    </li>

                    <div id="editor-layout-collection" class="row">
                        <div class="layout-link-container col s4">
                            <a href="#!" class="layout-link valign-wrapper" ><i class="material-icons">dashboard</i></a>
                        </div>
                        <div class="layout-link-container col s4">
                            <a href="#!" class="layout-link valign-wrapper active"><i class="material-icons">dashboard</i></a>
                        </div>
                        <div class="layout-link-container col s4">
                            <a href="#!"class="layout-link valign-wrapper" ><i class="material-icons">dashboard</i></a>
                        </div>
                    </div>

                    

                </ul>

            </div>

            <div id="profile-image">
                <a class='dropdown-trigger' href='#' data-target='profile-dropdown'>
                    <img src="/images/profile-sample.jpg">
                </a>
                <!-- Dropdown Structure -->
                <ul id='profile-dropdown' class='dropdown-content'>
                    <li><a href="#!">Dashboard</a></li>
                    <li><a href="#!">Profile</a></li>
                    <li class="divider" tabindex="-1"></li>
                    <li><a href="#!">New Pen</a></li>
                    <li class="divider" tabindex="-1"></li>
                    <li><a href="#!"><i class="material-icons">view_module</i>Settings</a></li>
                    <li><a href="#!"><i class="material-icons">cloud</i>Log out</a></li>
                </ul>
            </div>

        </div>

    </header>

    <main>

        <div id="editor-group" class="row">
            <div id="editor-1" contenteditable="true" class="col resizable-editor">
            </div>
            <div id="editor-resize-1" class="col vertical-resize-control">
            </div>
            <div id="editor-2" contenteditable="true" class="col resizable-editor">

            </div>
            <div id="editor-resize-2" class="col vertical-resize-control">
            </div>
            <div id="editor-3" contenteditable="true" class="col resizable-editor">

            </div>
        </div>

        <div id="results-resize" class="horizontal-resize-control">
        </div>

        <div id="result-group" class="row">
            <iframe id="results-window"></iframe>

        </div>
        </div>




    </main>


    <footer>
        <script type="text/javascript" src="/javascripts/jquery-3.4.1.js"></script>
        <script type="text/javascript" src="/javascripts/materialize.js"></script>
        <script type="text/javascript" src="/javascripts/monaco-editor/min/vs/loader.js"></script>
        <script type="text/javascript" src="/javascripts/pen.js"></script>
    </footer>



</body>


</html>