<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>


    <!-- Materialize dependency -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css" media="screen,projection" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/pen.css' />

</head>

<body>

    <header>

        <div id="pen-view-header">
            <img id="pen-logo" src="/images/codepen-logo.svg" />
        </div>

    </header>

    <main>

        <div id="editor-group" class="row">
            <div id="editor-1" contenteditable="true" class="col resizable-editor">
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </div>
            <div id="editor-resize-1" class="col vertical-resize-control">
            </div>
            <div id="editor-2" contenteditable="true" class="col resizable-editor">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
            </div>
            <div id="editor-resize-2" class="col vertical-resize-control">
            </div>
            <div id="editor-3" contenteditable="true" class="col resizable-editor">
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
            </div>
        </div>

        <div id="results-resize" class="horizontal-resize-control">
        </div>

        <div id="result-group" class="row">           
            <div id="results-window">
                
            </div>
        </div>
        



    </main>


    <footer>
        <script type="text/javascript" src="/javascripts/jquery-3.4.1.js"></script>
        <script type="text/javascript" src="/javascripts/materialize.js"></script>
        <script type="text/javascript" src="/javascripts/pen.js"></script>
        
    </footer>



</body>


</html>