<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <!-- Materialize dependency -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css" media="screen,projection" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/sidebar.css' />
    <link rel='stylesheet' href='/stylesheets/signup.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

    <header>

    </header>

    <main>
        <div id="tier-intro" class="container valign-wrapper">
            <div class="container center-align">
                <h3>FREE</h3>
                <p>Welcome to CodePen! (clone)</p>
            </div>
        </div>

        <div class="container">

            <div id="signup-parent" class="row">
                <div id="signup-container" class="col s8">
                    <form id="signup-form" class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <p class="input-label-custom">Your Name</p>
                                <input id="name" maxlength="20" name="fullName" type="text" required="true" class="validate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <p class="input-label-custom">Choose a username</p>
                                <input id="username" maxlength="20" name="username" required="true" type="text" class="validate">
                                <div>
                                    <p class="side-note-special">codepen.io/username</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <p class="input-label-custom">Email</p>
                                <input id="email" maxlength="20" name="email" type="email" required="true" class="validate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <p class="input-label-custom">Choose Password</p>
                                <input id="password" maxlength="60" name="password" type="password" required="true" class="validate">
                            </div>
                        </div>
                        <div class="row">
                            <button id="signup-button" class="btn waves-effect waves-light" type="submit"
                                name="action">Submit
                            </button>
                            <div>
                                <p class="side-note">By signing up, you agree to CodePen's <a href="#">Terms of
                                        Service</a> , <a href="#">Code of Conduct</a>, and <a href="#">Privacy
                                        Policy</a>.</p>
                            </div>
                        </div>
                    </form>
                </div>

                <div id="tier-explanation" class="col s4">
                </div>

            </div>
        </div>
    </main>

    <footer>
        <div class="center-align">
            <a href="#">Terms of Service</a> · <a href="#"> Privacy Policy</a> · <a href="#">Code of Conduct</a>
        </div>

        <script type="text/javascript" src="/javascripts/materialize.js"></script>
        <script type="text/javascript" src="/javascripts/jquery-3.4.1.js"></script>
        <script type="text/javascript" src="/javascripts/signup.js"></script>
    </footer>




</body>
<footer>

</footer>

</html>