body {
    overflow: hidden
}

#pen-logo {
    height: 20px;
    width: auto;
}

.row {
    margin-bottom: 0px;
}


#editor-group {
    display: flex;          
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    align-items: stretch;
    min-height: 200px;
}


#result-group {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    background-color: green;

}


#results-window {
    background-color: white;
    height: 100%;
    width: 100%;
}


div.resizable-editor {
    width: 33%;
    background-color: grey;
    overflow-y: auto;

}

div.vertical-resize-control{
    width:10px;
    cursor: pointer;
    background-color: bisque;
}


div.horizontal-resize-control{
    height:10px;
    cursor: pointer;
    background-color: tomato;
}
