body {
    overflow: hidden;
}


#pen-view-header {
    height: 55px;
}


#pen-logo {
    height: 25px;
    width: auto;
}

#pen-info {
    height: 100%;
    width: 25%;
    margin-left: 20px;
}

#pen-name-editable{
    height: 50%;
    font-size: 15px;
}

#pen-name-editable i{
    font-size: 15px;
}

#pen-author-name {
    font-size: 12px;
}

#pen-author-name span {
    color: #9b9dad;
}

#pen-view-options {
    width: 100%;
    margin-right: 70px;
}

#pen-view-options i {
    margin-right: 5px;
    margin-left: 5px;
}

#pen-view-options button {
    background-color: #444857;
    font-size: 14px;
}


.row {
    margin-bottom: 0px;
}


#editor-group {
    display: flex;          
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    align-items: stretch;
    min-height: 200px;
}


#result-group {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}


#results-window {
    background-color: white;
    height: 100%;
    width: 100%;
}


div.resizable-editor {
    width: 33%;
    background-color: grey;
    overflow-y: auto;

}

div.vertical-resize-control{
    width:15px;
    cursor: pointer;
    background-color: #333642;
}


div.horizontal-resize-control{
    height:15px;
    cursor: pointer;
    background-color:#333642;
}


#view-dropdown {
    top: 50px !important;
    width: 400px !important;
    background-color: black;
    height: fit-content !important;
    padding: 10px;
    border: none;
}


.collection.with-header .collection-header {
    padding: 0;
    background-color: transparent;
    border-bottom: none;
    padding-left: 5px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.collection.with-header .collection-item {
    padding: 0;
    background-color: transparent;
    border-bottom: none;
    text-align: left;
    padding: 2px 5px;
    font-size: 12px;
}


.collection.with-header a, span.collection-link {
    color: white;
}

.collection.with-header a.active {
    background-color: #444857;
}

.collection.with-header a:hover {
    background-color: #5a5f73 !important;
}



.collection-item .secondary-content i {
    font-size: 14px;
    color: white;
}

.dropdown-content li {
    min-height: auto;
}

.collection-item .secondary-content span.collection-link {
    margin-left: 10px;
    margin-right: 10px;
}

#code-link-collection {
    text-align: left;
    height: 40px;
}

#code-link-collection a.code-link{
    padding: 10px 10px;
    border-radius: 5px; 
}

#editor-layout-collection {
    width: 100%;
    border-radius: 5px;
    text-align: center;
    border: 1px solid white;
    overflow: hidden;
}

#editor-layout-collection .layout-link-container a.layout-link  i {
    width: 100%;
    height: 100%;
    font-size: 30px;
    padding: 5px 0px;
}



#pen-settings-modal {
    background-color: rgb(19, 20, 23);
}


#pen-settings-modal ul.tabs {
    height: auto;
    background-color: transparent;
    margin: inherit;
}


.tabs .indicator {
    display: none !important;
}

#pen-settings-modal ul.tabs li.tab {
    display: list-item;
    text-align: left;
}

#pen-settings-modal .modal-content .modal-tab {
    text-align: left;
    padding: 10px;
}

#pen-settings-modal .modal-content div{
    text-align: left;
    margin-bottom: 20px;
}

#pen-settings-modal .modal-content .modal-title {
    font-size: 20px;
}

#pen-settings-modal .modal-content .modal-exit{
   float: right;
}

#pen-settings-modal .tabs .tab {

} 

#pen-settings-modal .modal-footer a {
    background: #47cf73;
    color: #000;
}