

#tier-intro{
    height: 200px;
    background-color: #5a5f73;
}

#signup-parent{
    display: flex;          
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    align-items: stretch;
}

#signup-container{
    background-color: #ffffff;
    padding: 5%;
    position: relative;
    display: block;
}

#tier-explanation {
    background-color: #444857;
    position: relative;
}

#signup-button {
    background-color: #47cf73;
    font-size: 20px;
    width: 40%;
    height: 50px;
    margin-bottom: 20px; 
  }

.side-note-special {
    font-size: 10px;
    margin-bottom: 15px;
    color: grey;
}