/* Cancel out all existing padding/margin on base elements, set defaults */

body, header, main, footer {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #131317;
  color: floralwhite;
}

div {
  padding: 0px;
  margin: 0px;
}

.col .row {
  margin: 0;
}

/* Set default a tag link color */

a {
  color: #00B7FF;
}

/* Cancel header padding and margin, set defaults */

p, h1, h2, h3, h4, h5, h6 {
  color: white;
  padding: 0px;
  margin: 0px;
}

/* Remove existing padding on row/col classes */

.row .col, .input-field {
  padding: 0px;
  margin: 0px;
}

/* fallback font */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: ('./font/materialize.woff2');
}

/* Material icons class */

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.dashboard-secondary {
  background-color: #2c303a;
}

.dashboard-tertiary {
  background-color: #1e1f26;
}

/* Override material icons size to be smaller in a button */

button .material-icons {
  font-size: 13px;
}

div.col span {
  white-space: nowrap;
}


#profile-image {
  position: absolute;
  top: 0;
  right: 0;
}

#profile-image a img {
  max-height: 50px;
  width: auto;
}


#top-row {
  position: relative;
  display: block;
}

#profile-dropdown {
  top: 50px !important;
  width: 200px !important;
  left: -150px !important;
  position: absolute;
  background-color: #1e1f26;
}

#profile-dropdown li>a {
  color: white !important;
}



/* Input form general styling */

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  border-bottom-width: 0px;
  background-color: #d5d7de;
  border-radius: 5px;
  font-size: 20px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 4px solid transparent;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: white;

  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-bottom: none;
  border: 4px solid grey !important;

}

p.input-label-custom {
  font-size: 20px;
  color: grey;
}

p.side-note {
  color: grey;
}

.icon-wrapper-link {
  cursor:pointer;
}