body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #131317;

}

a {
  color: #00B7FF;
}



h1,h2,h3,h4,h5 {
  color: floralwhite;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: ('./font/materialize.woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.dashboard-secondary {
  background-color: #2c303a;
}

.dashboard-tertiary {
  background-color: #1e1f26;
}

.dashboard span {
  color: white;
}


button .material-icons {
  font-size: 13px;
}


div.col span {
  white-space: nowrap;
}



/* Reduce the padding that materialize adds */
#tab-button-group.tabs .tab a {
  padding: 0 10px;
}

#tab-button-group.tabs .tab span {
  padding: 0 5px;
}

#tab-button-group {
  background: none;
  
}


#tab-pens .row {
  margin-bottom: 0px;
  margin-top: 0px;
}


#tab-pens .card-image {
  height: 200px;
  display: block;
  position: relative;
}


#tab-pens .card-image img {
  display: block;
  position: absolute;
  overflow: hidden;
  height: 200px;

}


#tab-pens .placeholder {
  background-image: url("../images/placeholder.jpg");
  height: 200px;
  width: auto;
  border-radius: 10px;
  background-repeat: no-repeat;
}


span.card-options {
  float: right;
}


.card-content {
  background:#2c303a;
  padding: 15px;
  margin: 0 auto;
}


.card-action button {
  background-color: #1e1f26;
  color: white;
}


#profile-image {
  position: absolute;
  top: 0;
  right: 0;
}

#profile-image a img {
  max-height: 50px;
  width: auto;
}

#top-row {
  position: relative;
  display: block;
}

#profile-dropdown {
  top: 50px !important;
  width: 200px !important;
  left: -150px !important;
  position: absolute;
  background-color: #1e1f26;
}

#profile-dropdown li > a {
  color: white !important;
}